* {
    background-color: #F5F5DC;
}
#Composant {
    background-color: #F5F5DC;
}

#nav {
    
    right : 30px;
    margin-left:  350px;
}
.Accueil {
    
}
.Experiences {
    margin-left : 100px;
    padding: 1em ;
    display : inline-block;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px;
    transition: box-shadow 0.1s ;
    font-style: italic;
}
.Experiences:hover {
    box-shadow: 0px 0px 0px 10px;
}
.Competences {
    margin-left: 50px;
}

.Projects {
    margin-left: 50px;
}
.Formations {
    margin-left: 50px;
}
.Contact {
    margin-left: 50px;
}

.Github {
    margin-left: 100px;
    width :"40px";
    height : "40px"
}

.Linkdin {
    margin-left: 100px;
}
